*{    
    margin: 0;
    padding: 0;
    }
    
    body{
        background-color: white;
      
    }
    
    p{
        font-family: sans-serif;
        font-size: 17px;
        font-weight: lighter;
        line-height:30px;
        text-align: justify;
    }
    
    .navi{
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
    }
    
    .navi p{
        font-family: arial;
        color: rgb(255, 255, 255);
        font-size: 34px;
        line-height: 55px;
        float: left;
        padding: 0px 20px;
        
    }
    
    .navi p a{
        text-decoration: none;
        color: white;
    }
    
    .navi ul{
       float: left;
    }
    
    .navi ul li{
        float: left;
        list-style: none;
        position: relative;
    }
    .navi ul li a{
        display: block;
        font-family: arial;
        color: rgb(255, 255, 255);
        font-size: 15px;
        padding: 22px 14px;
        text-decoration: none;
    }
    .navi ul li a:hover{
background-color: grey;
    }
    .navi ul li ul{
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 0px 0px 4px 4px;
    }
    
    .navi ul li:hover ul {
        display: block;
        
    }
    .navi ul li ul li {
        width: 180px;
        border-radius: 4px;
        
    }
    .navi ul li ul li a{
        padding: 8px 14px;
        
    }
    
    .navi ul li ul li a:hover{
       background-color: grey;
    }
    
    h2{
        font-family: arial;
        padding-top: 2%;
        text-align: center;
    }
    
    h4{
        font-family: arial;
        text-align: left;
        padding-top: 2%;
        padding-left: 1%;
    
    }
    
    p, .curr{
        font-family: sans-serif;
        text-align: left;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%; 
    }
    
     
    .for{
        width: 900px;
        border: 0px solid #ccc;
        border-radius: 5px;
        margin: 10px 20%;
        padding: 4px;
    }
    
    .long p img{
        display: block;
    }
    
.indent{
    text-indent: -3%;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: lighter;
    line-height:30px;
    
}

#low{
   font-family: AtlanticCruise, sans-serif;
   font-size: 40px;
}


@media screen and (min-width: 350px;)